<header>
  <nav class="navbar navbar-expand-md navbar-light border-bottom shadow-sm" style="background-color: rgba(50, 122, 204, 0.452);">
    <img class="img-fluid mr-3" style="width: 150px;" src="https://fontmeme.com/permalink/200520/a6dd59a6e8f4e7c50fcde7db78bab361.png" alt="Pokedex">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="'/main'">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'pokemons'" >Pokémons</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
