<main role="main" class="container">
  <h1 class="text-center mt-5 mb-5">Welcome to Pokédex</h1>
  <img src="../../../assets/img/Pokemon-Go-Pokédex.png" alt="Imagem de um médico" class="rounded mx-auto d-block img-fluid mr-3" style="width: 200px;">
  <blockquote class="blockquote mt-5">
    <p class="text-center"> Welcome to Pokédex application, here you can see information of the 151 firsts pokémons.</p>
    <p class="text-center"> Number of pokemons found: <b [textContent]="pokemonCount.count"></b></p>
  </blockquote>
</main>
