<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" *ngFor="let pokemon of pokemons">
      <a class="pointer" (click)="viewPokemon(pokemon.id)" data-toggle="modal" data-target="#idViewPokemon">
        <app-card [url]="pokemon.sprites.front_default" [id]="pokemon.id" [name]="pokemon.name"></app-card>
      </a>
    </div>
  </div>
</div>

<!-- View Pokemon Modal -->
<app-modal titleModal="Pokemon" idModal="idViewPokemon" (btnChangeShiny)="changeShiny()">
  <div class="container">
    <div *ngIf="pokemon">
      <div *ngIf="!shiny; else elseShiny ">
        <img class="rounded mx-auto d-block img-fluid mr-3" [src]="pokemon.sprites.front_default">
      </div>
      <ng-template #elseShiny>
        <img class="rounded mx-auto d-block img-fluid mr-3" [src]="pokemon.sprites.front_shiny">
      </ng-template>
      <table>
        <tr>
          <th>Number:</th>
          <td>{{ pokemon.id }}</td>
        </tr>
        <tr>
          <th>Name:</th>
          <td>{{ pokemon.name }}</td>
        </tr>
        <tr>
          <th>Height:</th>
          <td>{{ pokemon.height }} fts</td>
        </tr>
        <tr>
          <th>Weight:</th>
          <td>{{ pokemon.weight }} pds</td>
        </tr>
        <tr>
          <th>Type:</th>
          <td>{{ types }}</td>
        </tr>
        <tr>
          <th>Stats:</th>
          <td>{{ stats }}</td>
        </tr>
      </table>
    </div>
  </div>
</app-modal>





<!-- <div class="row">
  <div class="col-sm-2">
    <h5>Name:</h5>
  </div>
  <div class="col">
    {{ pokemon.name }}
  </div>
</div> -->
